<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Todos List</title>
</head>
<body>
    <h1>Node, Express and Mongo App</h1>
    <a href="/todos/new">Start the app</a>

    <div class="container">
        <form action="/todos" method="POST" id="frm-new">
            <input type="text" name="todoTxt" placeholder="Add a new task">
            <button type="submit">Add Task</button>
        </form>

        <ul class="todos">
            
            <!-- <div class="todo">
                <li>Paint the front doors</li>
                <form action="" id="frm-del">
                    <button>Delete</button>
                </form>
            </div> -->

            <% todos.forEach(todo => { %>
                <div class="todo">
                    <li><%= todo.task %> <%= todo.createdAt.toLocaleDateString() %> </li>
                    <form action="" id="frm-del">
                        <button>Delete</button>
                    </form>
                </div>
            <%}) %>
        </ul>
    </div>
</body>
</html>